{
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "none",
  "singleQuote": false,
  "semi": true,
  "jsxSingleQuote": true,
  "importOrderTypeScriptVersion": "5.0.4",
  "importOrder": [
    "<BUILT_IN_MODULES>",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "@entity",
    "@resolvers",
    "@middleware",
    "@utils",
    "",
    "^[./]",
    "",
    "^[../]"
  ],
  "importOrderParserPlugins": [
    "typescript",
    "jsx",
    "classProperties",
    "decorators-legacy"
  ]
}
